<span navbar></span>
<div id="main-container" class="main-container" ng-controller="appController">
    <div class="main-container-inner">
        <span sidebar></span>
        <div class="main-content">
            <span class="ng-view"></span>
        </div>
    </div>
</div>

