<div class="modal-user">
    <div class="modal-header">
        <h3>User</h3>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <form name="userform" class="form-horizontal" role="form" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="first-name">First Name</label>
                <div class="col-sm-7">
                    <input id="first-name" class="form-control" type="text" name="firstName" ng-model="user.firstName" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="last-name">Last Name</label>
                <div class="col-sm-7">
                    <input id="last-name" class="form-control" type="text" name="lastName" ng-model="user.lastName" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="email">Email</label>
                <div class="col-sm-7">
                    <input id="email" class="form-control" type="email" name="lastName" ng-model="user.email" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="password">Password</label>
                <div class="col-sm-7">
                    <input id="password" class="form-control" type="password" name="password" ng-model="user.password" required ng-minlength="6"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="role">Role</label>
                <div class="col-sm-7">
                    <select id="role"
                            class="form-control"
                            ng-model="user.role"
                            ng-options="role as role for role in roles"
                            required>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="userform.$invalid">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>