<div id="navbar" class="navbar navbar-default">
    <div id="navbar-container" class="navbar-container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                <small>
                    <i class="icon-leaf"></i>
                    SkillBump
                </small>
            </a><!-- /.brand -->
        </div>
        <div class="navbar-header pull-right">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="user-info">
                           Welcome, {{username}}
                        </span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-caret">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>